html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
}
.body-font-color {
    color: #fff;
}
body {
    margin: 50px;
    font-family: source sans pro,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    /* background-color: #fff */
}
.headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
    line-height: 48px;
}
/* h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
} */
.v-auto {
    font-size: 30px;
    color: #bb23c7;
}
.clemson-image {
    position: absolute;
    right: 100px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem
}
