html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}
@font-face {
    font-family: 'Southern Jannie';
    src: url('src/font/SouthernJannieRegular.woff2') format('woff2'),
        url('src/font/SouthernJannieRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro', sans-serif;
    overflow: auto;
}
#first-slide {
    padding-top: 3%;
    display: flex;
}
#profile-message {
    /* position: absolute;
    top: 10%;
    left: 15%; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name {
    color: #f0f0f0;
    font-family: 'Myriad Pro', sans-serif;
    text-align: center;
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 3%;
}
#hello-message {
    color: #f0f0f0;
    font-family: 'Southern Jannie';
    text-align: center;
    font-size: 38px;
    padding: 3%;
}
#profile-image {
    border-radius: 20px;
    /* box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2); */
    /* align-items: center; */
}
#external-links {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.logo {
    padding-left: 10%;
    padding-right: 10%;
}
.info {
    display: inline-block;
    background-color: #ddff8f;
    border-radius: 60px;
    /* padding: 20px; */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    width: 40%;
}
.info {
    font-size: 18px;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 24px;
}
.info p {
    text-align: justify;
}
.info img {
    width: 15%;
    float: right;
}
#about {
    text-transform: uppercase;
}
#clemson {
    color: #F56600;
}

.edu-det {
    padding-left: 10%;
    text-align: left;
    vertical-align: top;
}

.info table {
    width: 100%;
}
hr {
    border: 2px solid #000;
}
button {
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    font-weight: 600;
    /* transition: all 0.3s ease; */
}
  
button:hover {
    background-color: #494343;
}
#resume-button {
    text-align: center;
    padding: 2%;
}
  
#project {
    text-align: center;
    color: #f0f0f0;
    padding-top: 5%;
    padding-bottom: 1%;
    font-weight: 100;
    text-transform:uppercase;
}
#second-slide {
    color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    /* max-width: 1000px; */
    width: 100%;
    padding-bottom: 20%;
}
.project {
    /* width: 20%;
    margin: auto; */
    width: 300px;
    height: 300px;
    margin: 1rem;
    transition: background-color 2.0s ease-in-out, border-radius 2.0s linear;
}
.project :hover {
    filter: grayscale(80%);
    border-radius: 60px;
    cursor: pointer;
}
.project h3 {
    color: #f0f0f0;
    text-align: center;
    font-weight: 100;
}
.project a {
    text-decoration: none;
}
.project img {
    width: 100%;
    background-color: #f0f0f0;
    /* height: auto; */
}

.project-details {
    position: fixed;
    /* width: 100%; */
    /* height: 100%; */
    top: 8%;
    bottom: 8%;
    right: 8%;
    left: 8%;
    padding: 3%;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
    /* cursor: pointer; */
    box-shadow: 5px 5px 5px 5px #2c2828;
    display: none;
    flex-direction: row;
}

.project-details {
    color: #f0f0f0;
}

.project-details-left img {
    /* width: 500px;
    height: 500px; */
    max-width: 80%;
    max-height: 80%;
    background-color: #f0f0f0;
}

.project-details-left {
    width: 50%;
    text-align: center;
}
.project-details-right {
    width: 50%;
    text-align: left;
    font-size: 18px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f0f0f0;
    background-color: #333;
    text-align: center;
    font-size: 12px;
}



@media screen and (max-width: 481px) {

#first-slide {
    display: block;
}
.name {
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
}
#hello-message {
    font-size: 24px;
}
#profile-message {
    width: 100%;
    padding-bottom: 10%;
}
#profile-image {
    border-radius: 30px;
    width: 75%;
}
.info {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10%;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    overflow: auto;
}

#about {
    text-align: center;
}
.project {
    padding: 6%;
} 
.project-details {
    top: 20%;
    bottom: 20%;
}
.project-details-left {
    display: none;
}
.project-details-right h3 {
    text-align: center;
}
.project-details-right {
    width: 100%;
}
.project-details-right img:first-child{
    padding-left: 30%;
}
.project-details-right img:last-child {
    padding-left: 5%;
}
}